@use'base/variables' as v;
@use'base/mixins' as m;


.footer{
 padding: 5rem 0 0 0;

 &__copy{
    text-align: center;
    margin-top: 3rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: v.$gris;
 }
   
   
   
}